
h1{
    font-size: 60px;
    font-weight: bold;
    align-items: center;;
}
h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}

button{
    width: 150px;
    height: 52px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #072ACB;
    color: white;
    padding: 15px 36px;
    box-shadow: none;
    border: none;
}


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: blue;
}

/*********************************************************************************************/
/*.menu{
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 36px;
    gap: 10px;
}*/


.contact-us{
    position: absolute;
    width: 150px;
    height: 52px;
/*    left: 1120px;*/
    top: 70px;

}
.clients{
    margin:auto;
}
.clients img{
    -webkit-filter: grayscale(1); 
    filter: gray; 
    filter: grayscale(1); 
}    
.CTAsection{
    background-color: #FFC600;
    width: 100%;
}

.project-examples img{
    width: 340px;
    height: 240px;
}

.hero{
    padding-bottom:100px;
}

.container-clients img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    height: 96px;
}

.image{
    position:relative;
    
}
.content{
    position: relative;
}


/*//////////////////////////////HERO SECTION/////////////////////////////*/
.hero-image img{
    width:500px;
    height: 650px;
    position:relative;
    
}
.card1 img{
    width: 190px;
    height: 216px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.card2 img{
    width: 190px;
    height: 193px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}

.client-information img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.content{
    position:relative;
    height: 530px;
    font-weight: 422px;
    padding-top: 200px;
    
}
.image{
    float:right;
}
/**********************************RECENT-PROJECT***********************/

/********************************TESTIMONIAL**************************/
.testimonial{
   /*padding-top:100px;*/
    background-color: #6b708d;
    /*display:flex;
    justify-content: center;*/
    
}




/***************************SERVICES***************************/
.services{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.service-examples img{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: lightblue;
    object-fit: scale-down;
    border-radius: 50px;
    margin-top: 40;
}
.service-examples h6{
    font-size: 2em;
    padding-top: 40px;
}
.service-examples p{
    margin-top: 48px;
}
.service-examples a{
    margin-top: 324px;
}

.UI-design, .UX-design, .app-development{
    width: 340px;
    height: 380px;
    left: 170px;
    top: 117px;
    background: #FFFFFF;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);

}
.container2{
    padding-bottom: 450px;
}



/************************************MEDIA QUERIES DESKTOP*******************************************/
@media (min-width: 1000px)  {
    .testimonial{
        width: 1320;
        height: 622;
        position:relative;
    }
    .memojis img{
        width: 150px;
        height: 150px;
    }
    .memoji-1{
        position: absolute;
        top:0px;
        left:0px;
    }
    .memoji-2{
        position: absolute;
        top:0px;
        right:0px;
    }
    .memoji-3{
        position: absolute;
        bottom:0px;
        left:0px;
    }
    .memoji-4{
        position: absolute;
        bottom:0px;
        right:0px;
    }
    .CTAsection{width:1320px; height: auto;}
    .container-clients{
        display:flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    /*.recent-projects{
        display: inline-block;
    }*/
    .column{
        float: left;
    width: 33.33%;
    }
}
/**********************MEDIA-QUERIES MOBILE***************************/
@media (max-width:600px){
    .testimonial{
        width: 550px;
        height: 320;
        }
    .memojis img{
    display: none;
    }
  
    }