
h1{
    font-size: 60px;
    font-weight: bold;
}
h3{
    font-size: 40px;
    font-weight: bold;
}

button{
    width: 150px;
    height: 52px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #072ACB;
    color: white;
    padding: 15px 36px;
    box-shadow: none;
    border: none;
}


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}

/*********************************************************************************************/
.menu{
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 36px;
    gap: 10px;
}


.contact-us{
    position: absolute;
    width: 150px;
    height: 52px;
/*    left: 1120px;*/
    top: 70px;

}

.CTAsection{
    background-color: #FFC600;
}

.project-examples img{
    width: 340px;
    height: 240px;
}
.service-examples img{
    width: 80px;
    height: 80px;
}

.container-clients img{
    width: 150px;
    height: 96px;
}
/*//////////////////////////////HERO SECTION/////////////////////////////*/
.hero-image img{
    width:500px;
    height: 650px;
    position:relative;
    
}
.card1 img{
    width: 190px;
    height: 216px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.card2 img{
    width: 190px;
    height: 193px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.client-information img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
/********************************TESTIMONIAL**************************/
.testimonial{
    background-color: grey;
    position:relative;
}

.memojis img{
    display: none;
}
@media (min-width: 1000px)  {
    .testimonial{
        width: 1320px;
        height: 622;
        background-color: grey;
        position:relative;
    }
    .memojis img{
        width: 150px;
        height: 150px;
    }
    .memoji-1{
        position: absolute;
        top:0px;
        left:0px;
    }
    .memoji-2{
        position: absolute;
        top:0px;
        right:0px;
    }
    .memoji-3{
        position: absolute;
        bottom:0px;
        left:0px;
    }
    .memoji-4{
        position: absolute;
        bottom:0px;
        right:0px;
    }
}